.body{
    color:gray;
    background-color: lightblue;
}

.nav{
    background-color: gray;
}

h1{
    color: black;
}

.h2{
    color: darkgrey;
}

.h3{
    color: black;
}

.contenedor{
    text-align: center;
}

.img{
    border-radius: 20%;
    width: 600px;
    height: 400px;
}

.img2{
    border-radius: 10%;
    width: 350px;
    height: 550px;
}