.body{
    color:gray;
    background-color: lightblue;
}

.nav{
    background-color: gray;
}s

.h1{
    color: black;
}

.h2{
    color: darkgrey;
}

.h3{
    color: black;
}

.contenedor{
    text-align: center;
}

.img{
    border-radius: 20%;
    width: 550px;
    height: 400px;
    object-fit: cover;
}

.img2{
    border-radius: 10%;
    max-width: 800px;
    margin: auto;
    height: 500px;
    object-fit: cover;
}